<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.licenseservice.Mapper.LicenseMapper">
    <select id="getLicense" resultType="license" >
        select license_id as licenseId, organization_id as organizationid, license_type as licenseType, product_name as productName, license_max as licenseMax, license_allocated as licenseAllocated
        from t_licenses where license_id = #{licenseid} and organization_id = #{organizationid}
    </select>

    <insert id="saveLicense" parameterType="license">
        insert into t_licenses (license_id,  organization_id, license_type, product_name, license_max, license_allocated) values (
           #{licenseId}, #{organizationId}, #{licenseType}, #{productName}, #{licenseMax}, #{licenseAllocated})
    </insert>
</mapper>